# Ignorar entornos virtuales
.venv/
venv/

# Ignorar archivos temporales de Python
__pycache__/
*.py[cod]

# Ignorar archivos de pesos grandes
*.pt
yolov5/
yolov9/

output_video.avi
AbejasDeteccion.mp4
Ellenguajedelasabejas.mp4
Honeybeewaggledancing.mp4
The Waggle Dance of the Honeybee.mp4
